<launch>
    <!-- Starte Gazebo-Umgebung -->
    <include file="$(find rod_moveit)/launch/demo_gazebo.launch" />

    <!-- Starte HMI-Node -->
    <node pkg="rod_moveit" type="hmi.py" name="hmi_node" output="screen" />

    <!-- Starte Python3-Node für control_listener -->
    <node pkg="rod_moveit"
          type="control_listener_ur.py"
          name="control_listener_node"
          output="screen"
          launch-prefix="python3" />
</launch>
